/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

li {
  list-style: none;
  float: left;
  padding: 1rem;
}

td {
  padding: 15px 8px;
  border-top: 1px solid #cdd1d5;
}

a {
  text-decoration: none;
}

.task_list {
  margin: 20px;
}

.navbar-brand {
  float: right;
}

.field {
  float: left;
  width: 100%;
  margin: 10px 0px;
}

input[type=text],
textarea {
  width: 100%;
}

h2 {
  margin-top: 20px;
}

.pagination {
  justify-content: center;
}